// Chrome applies an 8px margin by default (gross).
@font-face {
    font-family: "andale_monoregular";
    src: url("./andalemono-webfont.woff2") format("woff2"),
        url("./andalemono-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0px;
    padding: 0px;
}

@mixin textInGeneral {
    text-align: center;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    font-family: "andale_monoregular"
}

p {
    @include textInGeneral();
}

h1 {
    @include textInGeneral();
    margin: 10px;
    font-size: 30px;
    color: white;
    text-shadow: 0.5px 3px 5px black;
}

.title {
    color: #F4D03F;
}

.statusBox {
    @include textInGeneral();
    padding: 10px;
    font-size: 10px;
    width: 100%;
    text-shadow: 0.5px 3px 5px black;
}

.available {
    color: #26C281;
}

.unavailable {
    color: #F22613;
}



.priceBox {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    background-color: rgba(#003171, 0.35);
    border: 0.5px solid white;
    width: 90%;
    overflow: hidden;
    color: white;
    height: 40px;

    input {
        font-family: "andale_monoregular";
        flex: 1;
        height: 100%;
        outline: none;
        padding-left: 10px;
    }

    p {
        flex: 1;
    }
}

.interactable {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.initiateButton {
    border-radius: 5px;
    border: none;
    width: 75%;
    background-color: #26C281;
    color: white;
    height: 50px;
    margin-top: 20px;
    outline: none;
    font-family: "andale_monoregular";
    font-size: 15px;

    &:active {
        background-color: rgba(#26C281, 0.7)
    }
}



.popupContainer {
    align-items: center;
    background-color: #1F4788;
    border: 2.5px solid #89C4F4;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 450px;
    width: 250px;
}